# Requirements for the backend (install with `pip install -r project/requirements.txt`)

# Core packages
pandas
requests
fastapi
uvicorn
python-multipart
SQLAlchemy
alembic
passlib[bcrypt]
bcrypt
pytest
google-generativeai
